# practise_chapter_20

## reframe_horizon

In [37]:
# reframe time horizon of forecast
from pandas import read_csv
from pandas import DataFrame
from pandas import concat

# load data
series = read_csv(
    "../data/daily-minimum-temperatures.csv", header=0, index_col=0, parse_dates=True
).squeeze()

# create lagged dataset
values = DataFrame(series.values)

In [38]:
dataframe = concat(
    [
        values.shift(1),
        values,
        values.shift(-1),
        values.shift(-2),
        values.shift(-3),
        values.shift(-4),
        values.shift(-5),
        values.shift(-6),
    ],
    axis=1,
)
dataframe.columns = ["t", "t+1", "t+2", "t+3", "t+4", "t+5", "t+6", "t+7"]
print(dataframe.head(14))

       t   t+1   t+2   t+3   t+4   t+5   t+6   t+7
0    NaN  20.7  17.9  18.8  14.6  15.8  15.8  15.8
1   20.7  17.9  18.8  14.6  15.8  15.8  15.8  17.4
2   17.9  18.8  14.6  15.8  15.8  15.8  17.4  21.8
3   18.8  14.6  15.8  15.8  15.8  17.4  21.8  20.0
4   14.6  15.8  15.8  15.8  17.4  21.8  20.0  16.2
5   15.8  15.8  15.8  17.4  21.8  20.0  16.2  13.3
6   15.8  15.8  17.4  21.8  20.0  16.2  13.3  16.7
7   15.8  17.4  21.8  20.0  16.2  13.3  16.7  21.5
8   17.4  21.8  20.0  16.2  13.3  16.7  21.5  25.0
9   21.8  20.0  16.2  13.3  16.7  21.5  25.0  20.7
10  20.0  16.2  13.3  16.7  21.5  25.0  20.7  20.6
11  16.2  13.3  16.7  21.5  25.0  20.7  20.6  24.8
12  13.3  16.7  21.5  25.0  20.7  20.6  24.8  17.7
13  16.7  21.5  25.0  20.7  20.6  24.8  17.7  15.5

## reframe_classification

In [39]:
dataframe = concat([values.shift(1), values], axis=1)
dataframe.columns = ["t", "t+1"]

In [40]:
len(dataframe["t+1"])

3650

In [41]:
dataframe["t+1"][2]

18.8

In [42]:
import numpy as np

# Make discrete using np.select for vectorized operation
conditions = [dataframe["t+1"] < 10.0, dataframe["t+1"] >= 25.0]
choices = [0, 2]
dataframe["t+1"] = np.select(conditions, choices, default=1)
print(dataframe.head(5))

      t  t+1
0   NaN    1
1  20.7    1
2  17.9    1
3  18.8    1
4  14.6    1

In [43]:
dataframe.sample(5)

         t  t+1
2401   8.8    0
3038  15.8    1
3378  11.0    1
1657   6.2    0
2139   9.7    1

## reframe_regression